.Witamy{
    color: rgb(255,255,255);
    text-align: center;
    font-size: 45px;
    font-family:"Funnel Display";
    
}

body{
    background: linear-gradient(180deg, rgb(7,174,234), rgb(43,245,152));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#p1{
    color: rgb(255,255,255);
    font-family: "Funnel Display";
    font-size: 20px;
}
form{
    background-color: rgba(0, 0, 0, 0.099);
    color: rgb(255,255,255);
    margin: auto;
    max-width: 600px;
    border-radius: 15px;
    text-align: center;
    font-family: "Funnel Display";
    font-size: 20px;
    box-shadow: 5px 5px 100px;
    
    
}
.ToSamo{
    text-align: center;
}
#button1{
    background: linear-gradient(180deg,rgb(7,174,234), rgb(43,245,152));
    border-radius: 15px;
    border-color: rgb(43,245,152);
    border-width: 4px;
    font-family: "Funnel Display";
    font-size: 20px;
    color: rgb(255,255,255);
    cursor: pointer;

}
#InputNumber1{
    font-size: 17px;
    border-radius: 15px;
    border-color: rgb(43,245,152);
    background: linear-gradient(180deg,rgb(7,174,234), rgb(43,245,152));
    font-family: "Funnel Display";    
    color: rgb(255,255,255);
}
